@implements Dashboard.Data.DataPage


<h3>Knowbe4</h3>

<GraphPane>
    <Dashboard.Pages.DataPoints.Knowbe4.ActiveCampaigns/>
    <Dashboard.Pages.DataPoints.Knowbe4.EnrolledTrainees/>
    <Dashboard.Pages.DataPoints.Knowbe4.PhishScoreOverTime/>
    <Dashboard.Pages.DataPoints.Knowbe4.PhishScoreByDepartment/>
</GraphPane>

@code {
    public void Get()
    {
        
    }

}