
<div class="settings-div">
	<p class="setting-text">1</p>
	<p class="setting-value">2</p>
	<p class="setting-text">3</p>
	<p class="setting-value">4</p>
	<p class="setting-text">5</p>
</div>


@code {

}