<DataPointWrapper Title="Users in Training">
    <table class="table">
        <thead class="">
            <tr>
                <td>User</td>
                <td>Progress</td>
                <td>Phish Prone</td>
            </tr>
        </thead>

        <tr>
            <td>Raphael Frey</td>
            <td>60%</td>
            <td>2.5%</td>
        </tr>
        <tr>
            <td>Maximo Carney</td>
            <td>60%</td>
            <td>2.5%</td>
        </tr>
        <tr>
            <td>Kraig Spence</td>
            <td>60%</td>
            <td>2.5%</td>
        </tr>
        <tr>
            <td>Quintin Blankenship</td>
            <td>60%</td>
            <td>2.5%</td>
        </tr>
        <tr>
            <td>Silvia Fleming</td>
            <td>60%</td>
            <td>2.5%</td>
        </tr>
        <tr>
            <td>Elisha Richmond</td>
            <td>60%</td>
            <td>2.5%</td>
        </tr>
    </table>
</DataPointWrapper>