
<table class="table-bordered table-responsive-lg">
	<thead>
		<tr>
			@foreach(var row in TableData.ColumnInfo)
			{
				<td class="px-3 py-2" style="background-color: rgb(70, 72, 84); color: white"><b>@row.Name</b></td>
			}
		</tr>
	</thead>
	<tbody class="">
	@foreach(var row in TableData.Data)
	{
		<tr>
			@for (int i = 0; i < row.Length; i++)
			{
				@switch(TableData.ColumnInfo[i].Type)
				{
					case Data.Table.ColumnInfo.ColumnType.Text:
						<td class="px-3 py-2">@row[i]</td>
						break;
					case Data.Table.ColumnInfo.ColumnType.ProgressBar:
						<td class="p-2">
							<div class="progress">
							  <div style="width: @row[i]" class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar"></div>
							</div>
						</td>
						break;
				}
			}
		</tr>
	}
	</tbody>
</table>



@code {

	[Parameter]
	public Data.Table.Table TableData { get; set; } = new Data.Table.Table();
}
