
.dashboard-table {
    width: 100%;
    background: #6c757d;
    color: blue;
}


.table-page-item {
    padding: 10px 10px 10px 10px;
}


.enabled {
    border-color: rgb(0, 120, 239);
    color: rgb(0, 120, 239);
}

.disabled {
    border-color: rgb(141, 141, 141);
    color: rgb(141, 141, 141);
}